.air-datepicker-nav--title{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;

        text-align: center;
        color: #1F2041;
        i{
            font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 19px;
                line-height: 23px;
            
                text-align: center;
                color: #1F2041;
        }
}
.air-datepicker-body--day-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(188, 156, 255, 1);
    text-transform: none;
}
.air-datepicker-nav{
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 0;
    border: none;
}
.-day-{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
    
        /* Dark 50% */
    
        color: rgba(31, 32, 65, 0.5);
}