body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: rgba(31, 32, 65, 0.75);
}
h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1F2041;
}
h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;


    color: #1F2041;
}
h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    
    text-transform: uppercase;
    
    color: #1F2041
}
.container{
    max-width:1166px;
    margin: 0 auto;
}
a{
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 121%;
    color: rgba(31, 32, 65, 0.5);
    &:hover{
        color: rgba(31, 32, 65, 0.75);
        transform: rotate(0.23deg);
        font-weight: 700;
    }
}

.Icons{
    font-family: Icons;
    vertical-align: middle;
    font-size: 24px;
    line-height: 24px;
}
.brands{
    display: flex;
    align-items:center;
    gap: 20px;
}
.logo{
    margin-right: 15px ;
}
.button-back{ // КНОПКА С ЗАДНИМ ФОНОМ
    padding: 15px 20px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover{
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.5;
    }

}
.button-no-back{    // КНОПКА С БОРДЕРОМ  
    border: 2px solid;
    border: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    padding: 15px 20px;
    border-radius: 22px;


    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;  
    text-transform: uppercase;
    color: #BC9CFF;
    &:hover{
        border: 2px solid;
        border: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        
        opacity: 0.5;
        
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
    }
}
.default-button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;    
    color: #BC9CFF;
    -webkit-background-clip: text;
    border:none;
}
.input-form{ // ФОРМА ДЛЯ ВВОДА 
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;

    width: 100%;
    height: 44px;
    -webkit-appearance: none;
    &::placeholder{
        color: rgba(31, 32, 65, 0.25);
    }
    &:focus, &:hover {
        outline: 0;
        outline-offset: 0;
        border: 1px solid rgba(31, 32, 65, 0.5);
        color: rgba(31, 32, 65, 0.75);
    }
}
.arrow__forward{
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: Icons;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;

        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        &::before{
            color: #F9F0DA;
            font-size: 20px;
            font-weight: bold;
        }
}

.input-form__button {// кнопка к форме в виде галочки 
    color: rgba(31, 32, 65, 0.5);
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: Icons;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    -webkit-background-clip: text;
}
.enter-date {
    position: relative;
}