@charset "UTF-8";
@font-face {
  font-family: Icons;
  src: url(/fonts/MaterialIcons-Regular.ttf);
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  padding: 0;
}

*:focus {
  outline: 0;
  outline-offset: 0;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
a,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  list-style: none;
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: rgba(31, 32, 65, 0.75);
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1F2041;
}

h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #1F2041;
}

h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.container {
  max-width: 1166px;
  margin: 0 auto;
}

a {
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 121%;
  color: rgba(31, 32, 65, 0.5);
}

a:hover {
  color: rgba(31, 32, 65, 0.75);
  -webkit-transform: rotate(0.23deg);
          transform: rotate(0.23deg);
  font-weight: 700;
}

.Icons {
  font-family: Icons;
  vertical-align: middle;
  font-size: 24px;
  line-height: 24px;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.logo {
  margin-right: 15px;
}

.button-back {
  padding: 15px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-back:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}

.button-no-back {
  border: 2px solid;
  border: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 15px 20px;
  border-radius: 22px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
}

.button-no-back:hover {
  border: 2px solid;
  border: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  opacity: 0.5;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
}

.default-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  -webkit-background-clip: text;
  border: none;
}

.input-form {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  width: 100%;
  height: 44px;
  -webkit-appearance: none;
}

.input-form::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.input-form:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.input-form::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.input-form::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.input-form:focus, .input-form:hover {
  outline: 0;
  outline-offset: 0;
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.arrow__forward {
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: Icons;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.arrow__forward::before {
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}

.input-form__button {
  color: rgba(31, 32, 65, 0.5);
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: Icons;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  -webkit-background-clip: text;
}

.enter-date {
  position: relative;
}

.header__container {
  padding: 15px 0;
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
  background: rgba(31, 32, 65, 0.5);
  width: 25px;
  height: 5px;
  border-radius: 2px;
  position: relative;
}

.header__burger::before {
  content: " ";
  background: rgba(31, 32, 65, 0.5);
  width: 25px;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  top: -10px;
}

.header__burger::after {
  content: " ";
  background: rgba(31, 32, 65, 0.5);
  width: 25px;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__log-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__log-in a {
  padding: 8px 20px;
}

.main {
  background-image: url(/img/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 835px;
}

.main__container {
  padding-top: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__container p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  width: 297px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 91px 0 81px 0;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__items *:not(:first-child) {
  margin-top: 20px;
}

.footer__items-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.footer__logo {
  max-width: 260px;
  margin-right: 40px;
}

.footer__nav {
  max-width: 143px;
  margin-right: 56px;
}

.footer__about {
  max-width: 108px;
  margin-right: 93px;
}

.footer__support {
  max-width: 149px;
  margin-right: 51px;
}

.footer__subscribe {
  max-width: 260px;
}

.footer__items form {
  position: relative;
  width: 260px;
  margin: 0 auto;
}

.footer__items form input[type="submit"] {
  margin: 0;
}

.email {
  width: 100%;
  height: 42px;
  -webkit-appearance: none;
}

.footer__copyright-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  border-top: 1px solid rgba(31, 32, 65, 0.1);
  padding: 26px 0;
}

.search {
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  width: 380px;
  height: 374px;
}

.search__container {
  margin: 0 auto;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0px;
  gap: 20px;
  position: relative;
}

.search__container h3 {
  margin-bottom: 5px;
}

.search__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.search__members input[type="text"] {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search__members-container {
  position: relative;
}

.search__drop-down {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  bottom: 1px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 13px 15px;
  gap: 27px;
}

.drop-down__elements {
  gap: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.drop-down__element {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drop-down__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  gap: 12px;
}

.drop-down__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.minus {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(31, 32, 65, 0.5);
  text-align: center;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  width: 30px;
  padding: 6px 0 9px 0;
  height: 30px;
  padding-top: 2px;
}

.count {
  width: 9.28px;
}

.pluse {
  text-align: center;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 2px;
}

.fa-brands {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 1068px) {
  .footer__subscribe {
    padding: none;
  }
}

@media (max-width: 897px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__items {
    margin-top: 25px;
  }
}

@media (max-width: 678px) {
  .header_nav-container {
    display: none;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50px;
    background: #fff;
    left: 50px;
    font-size: 24px;
  }
  .header__nav span {
    display: none;
  }
  .header__burger {
    display: block;
    margin: 20px  6px;
  }
}

@media (max-width: 431px) {
  .header__log-in {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__content {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}
