doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title log-in
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/fonts/fontawesome-free-5.15.4-web/css/brands.css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet")
    body
        .wrapper
                include header
                include log
                include footer
        script(src="/js/jquery-3.3.1.min.js")
        script(src="/js/burger.js")
        script(src="/js/toogle.js")
        script(src="https://kit.fontawesome.com/229bc945fb.js" crossorigin="anonymous")
