header.header
    .header__container.container
        .header__content
            .header__logo
                a(href="/html/pug/index.html") 
                    img.logo(src="/img/Logo.png", alt="logo")
            .header__menu
                .header_nav-container
                    .header__nav
                        a(href="") О нас
                        a(href="") Услуги 
                            span.Icons expand_more 
                        a(href="") Вакансии
                        a(href="") Новости
                        a(href="") Соглашения 
                            span.Icons expand_more
                .header__log-in
                    a.button-no-back(href="/html/pug/enter.html") войти
                    a.button-back(href="/html/pug/registration.html")  зарегистрироваться
        .header__burger
    