.reg__container.container
    .reg__form
        h1 Регистрация аккаунта
        form(action="")
            input(class = "input-form" type="text" placeholder="Имя") 
            input(class = "input-form" type="text" placeholder="Фамилия")
            .gender
                input(type="radio" name="man" value="Мужчина")
                lable(for ="man") Мужчина
                input(type="radio" name="woman" value="Женщина")
                lable(for ="woman") Женщина
